{% extends "base.html" %}

{% block title %}Política de Privacidade{% endblock %}

{% block main %}
<main>
    <div class="container">
        <h2>Política de Privacidade</h2>
        <p>Este site respeita sua privacidade. Nenhuma informação pessoal é coletada sem o seu consentimento.</p>
        <p>Utilizamos o Google AdSense para exibir anúncios. O Google pode usar cookies para personalizar os anúncios com base nas visitas anteriores ao site.</p>
        <p>Você pode desativar a personalização de anúncios acessando <a href="https://www.google.com/settings/ads">as configurações de anúncios do Google</a>.</p>
        <p>Não vendemos ou compartilhamos informações pessoais com terceiros.</p>
        <p>Ao continuar navegando, você concorda com o uso de cookies.</p>
    </div>
</main>
{% endblock %}
