{% extends "paginas/base.html" %}
{% load static %}



{% block main %}
<main>
    <div class="container">
        <h2>Termos de Uso</h2>
        <p>Ao acessar este site, você concorda com estes termos.</p>
        <p>O conteúdo do site é apenas informativo. Não garantimos que todas as informações estejam sempre atualizadas ou corretas.</p>
        <p>É proibida a cópia, reprodução ou distribuição do conteúdo sem autorização.</p>
        <p>Podemos alterar estes termos a qualquer momento, sem aviso prévio.</p>
    </div>
</main>
{% endblock %}
